.cocktail-show {
  height: 28rem;
  width: 28rem;
  background-image: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  margin-left: 16rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);

}



.pattern {
    position: absolute;
    width: 28rem;
    background-color: rgba(241, 118, 142, 0.7);
    height: 28rem;
    top: 21%;
    left: 16%;
    z-index: 1;
    border: 2px dotted purple;




}

.cocktail-title {
  margin-bottom: 2.2rem;
  color: rgba(241, 118, 142, 0.9);
}
