.cocktail-show {
  height: 28rem;
  width: 28rem;
  background-image: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  margin-left: 16rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);

}



.pattern {
    position: absolute;
    width: 28rem;
    background-color: rgba(241, 118, 142, 0.7);
    height: 28rem;
    top: 21%;
    left: 16%;
    z-index: 1;
    border: 2px dotted purple;




}

.cocktail-title {
  margin-bottom: 2.2rem;
  color: rgba(241, 118, 142, 0.9);
}


.show-ingredients {
  margin: 2% auto;
  border: 2px dotted purple;
  width: 11.5rem;
  padding: 1rem;
}

h5 {
  color: purple;
}

@media(max-width: 992px) {
  .cocktail-show {
    background-image: cover;
    background-position: center;
    border-radius: 10px;
    margin: 0 auto;


  }

  .pattern {
    display: none;

  }
}

@media(max-width: 768px) {
  .cocktail-show {
    background-image: cover;
    background-position: center;
    border-radius: 10px;
    margin: 0 auto;


  }

  .pattern {
    display: none;
  }
}

