.banner {
  background-image: linear-gradient(
    to right, rgba(106, 130, 251, 0.8),
    rgba(252, 92, 125,0.8)),
    url("https://images.pexels.com/photos/2225580/pexels-photo-2225580.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;
  background-position: top;
  // padding: 150px 0;
  height: 95vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position:relative;
}

// .banner h1 {
//   margin: 0;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 40px;
//   font-weight: bold;
// }


.banner a {
  text-decoration: none;
  color: white;
  font-size: 24px;

}



.logo {
  height: 72px;

}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 30px;
  text-align: center;





   h1 {

    line-height: 1.6em !important;
  }

}


.heading-primary {
  display: block;
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  margin-bottom: 32px;

}


.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 9.8px;
  animation-name: moveInRight;
  animation-duration: 3s;

}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);



  }


}

@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);

  }

  100% {
    opacity: 1;
    transform: translate(0px);

  }


}




@media(max-width: 992px) {
  .banner {
    height: 57vh;
    width: 100%;
    border-radius: 8px;


  }

  .heading-primary-main {
    font-size: 1.5rem;
  }

  .heading-primary-sub {
    font-size: 1rem;

    h2 {
    font-size: 1.3rem;
    margin: 1rem;



    }
  }

  .text-box {
    padding: 8px;
  }
}

@media(max-width: 768px) {

  .banner {
    height: 75vh ;
    width: 100%;
    border-radius: 8px;


  }

  .heading-primary-main {
    font-size: 1.5rem;
    letter-spacing: 8px;
  }

   .heading-primary-sub {
    font-size: 1rem;
    letter-spacing: 8px;

    h2 {

    font-size: 1.3rem;
    margin: 1rem;


    }

  .fa-plus:before {
    opacity: 0;
  }


  }

  .text-box {
    padding: 24px;
  }

  .fa-plus:before {
    opacity: 0;
  }
}










