.btn-treehouse {
  font-family: Raleway, Helvetica, sans-serif;
  background-color: #F6ABB6;
  font-weight: bold;
  border-radius: 10px;
  text-align: none;
  padding: 16px 25px;
  opacity: 0.8;
  text-align: center;

  a {
    color: white;
    text-align: center;
  }


}

.btn-treehouse:hover{
  background-color: #E66861;
  transition: .4s;
}
