.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  border: 0.5mm solid #fff ;
  font-family: 'Roboto', sans-serif !important;
  font-weight: lighter;
  color: #fff;


}


.btn-white-border {
  color: #white;
  border: 0.5mm solid #white;

}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);



}

.button-purple-border {
  color: rgba(106, 130, 251, 0.8);
  border: 0.5mm solid rgba(106, 130, 251, 0.8);
  border-radius: 100px;
  padding: 15px 40px;


}

.button-purple-border:hover {
  color: rgba(252, 92, 125,0.8);
  border: 0.5mm solid rgba(252, 92, 125,0.8);
  border-radius: 100px;
  padding: 15px 40px;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}


.btn-orange-border {

  text-align: none;
  padding: 16px 20px;
  transition: .2s;
}

@media(max-width: 992px) {

.btn:link,
.btn:visited {
  padding: 8px 24px;

}

}

@media(max-width: 768px) {

.btn:link,
.btn:visited {
  padding: 8px 24px;
}


}
























